*{
    margin : 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    padding : 0 5%;
}
nav{
    margin: 30px 20px 20px;
    padding-bottom:10px ;
    color: #24c2b2;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(207, 207, 207);
}
.nav-option{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
nav a{
    margin-left: 20px;
    text-decoration: none;
    color: #24c2b2;
}
.form-container{
    margin: auto;
    margin: 0px auto ;
    width: 450px;
}
.form-bug{
    background-color: rgb(207 207 207);
    border-radius: 6px 6px 0 0;
    border: 5px solid rgb(207 207 207);
    padding: 12px 20px;
    color: white;
    font-weight: 600;
    font-size: 22px;
    object-fit: contain;
}
.form{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(207, 207, 207);
}
label{
    padding: 5px 0;
}
.field{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.footer{
    background-color: rgb(192 197 202);
    border-radius: 0 0 6px 6px; 
    border: 2px solid rgb(207 207 207);
    padding: 15px;
    padding-bottom: 40px;
    color: white;
    font-weight: 600;
    font-size: 22px;
    object-fit: contain;
    position: relative;
    
}
select{
    padding: 5px;
    background-color: #24c2b2;
    border-color: #24c2b2;
    border-radius: 4px;
    color: white;
}
.footer button{
    background-color: #24c2b2;
    border: #24c2b2;
    padding: 8px 20px;
    color: white;
    border-radius: 4px;
    right: 30px;
    position: absolute;
}
